meme_dict = {
            "CRINGE": "Algo excepcionalmente raro o embarazoso",
            "LOL": "Una respuesta común a algo gracioso",
            "CREEPYPASTA": "una historia de terror subida en red social o foro",
            "XD":"reirse"
            }
word = input("Escribe una palabra que no entiendas (¡con mayúsculas!): ").upper()

if word in meme_dict.keys():
    # ¿Qué debemos hacer si se encuentra la palabra?
    print("el significado es:",meme_dict[word])
else:
    print("todo saben esa palabra")
